
.f-btn-1{
    width: 200px;
    height: 60px;
    background: $theme-1;
    border: none;
    outline: none;
    color: #fff;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 15px;
}

.f-btn-2{
    width: 200px;
    height: 60px;
    background: none;
    border: 2px solid $fff;
    outline: none;
    color: $fff;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    font-size: 20px;

    &:hover{
        background: $fff;
        color: $theme-1;
        border: none;
        transition: 300ms;
    }
}

.f-btn-3{
    width: 200px;
    height: 50px;
    background: #fff;
    border: 2px solid rgb(211, 211, 211);
    outline: none;
    color: $theme-1;
    letter-spacing: 1px;
}

.f-btn-4{
    width: 280px;
    height: 75px;
    background: none;
    border: 3px solid $theme-4;
    outline: none;
    color: $theme-4;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    font-size: 20px;
    border-radius: 50px;

    &:hover{
        background: $theme-4;
        color: $fff;
        border: none;
        transition: 300ms;
    }
}

.f-btn-5{
    width: 200px;
    height: 50px;
    background: $theme-4;
    border-radius: 5px;
    border: none;
    outline: none;
    color: #fff;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 15px;
}

.f-form-w{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $black-50;
    border-radius: 5px;
    border: none;
    padding: 10px 15px;

    input{
        background: none;
        border: none;
        outline: none;
        color: $fff;
        width: 100%;
        margin-right: 5px;

        &::placeholder{
            color: $fff-50;
        }
    }

    .input-icon{
        color: $fff-50;
    }
}

.f-textarea{
    width: 100%;
    height: 15rem;
    background: $black-50;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 10px 15px;
    color: $fff;

    &::placeholder{
        color: $fff-50;
    }
}