
.fff{
    color: #fff !important;
    &:hover{color: #fff !important;}
}
.bg-fff{background-color: #fff !important;}

.fff-50{
    color: #ffffff91;
    &:hover{color: #ffffff91;}
}

.fff-60{
    color: #ffffffca;
    &:hover{color: #ffffffca;}
}

.f-bg-000{
    background-color: #000;
}

.f-black{
    color: $black;
    &:hover{color: $black;}
}
.f-grey{
    color: $grey;
    &:hover{color: $grey;}
}
.f-grey-50{
    color: $grey-50;
    &:hover{color: $grey-50;}
}

.bg-1{background-color: $theme-1;}
.bg-2{background-color: $theme-2;}
.bg-3{background-color: $theme-3;}
.bg-4{background-color: $theme-4;}

.bg-1a{background-color: $theme-1a;}
.bg-2a{background-color: $theme-2a;}
.bg-3a{background-color: $theme-3a;}
.bg-4a{background-color: $theme-4a;}

.bg-1b{background-color: $theme-1b;}
.bg-2b{background-color: $theme-2b;}
.bg-3b{background-color: $theme-3b;}
.bg-4b{background-color: $theme-4b;}

.f-color-1{color: $theme-1 !important;
    &:hover{color: $theme-1 !important;}
}
.f-color-2{color: $theme-2 !important;}
.f-color-3{color: $theme-3 !important;}
.f-color-4{color: $theme-4 !important;}

.icon-fb{color: $fb;}
.icon-in{color: $in;}
.icon-twit{color: $twit;}
.icon-insta{color: $insta;}
.icon-p{color: $p;}
.icon-y{color: $y;}