.brand-font{font-family: 'Audiowide', cursive;}
.heading{
    font-family: 'Montserrat', sans-serif;
}
.writing{
    font-family: 'Parisienne', cursive;
    letter-spacing: 2px;
}
.font-100{font-weight: 100 !important;}
.font-200{font-weight: 200 !important;}
.font-300{font-weight: 300 !important;}
.font-400{font-weight: 400 !important;}
.font-500{font-weight: 500 !important;}
.font-600{font-weight: 600 !important;}
.font-700{font-weight: 700 !important;}
.font-800{font-weight: 800 !important;}
.font-900{font-weight: 900 !important;}

.uppercase{text-transform: uppercase;}

.font-4{font-size: 4px !important;}
.font-5{font-size: 5px !important;}
.font-6{font-size: 6px !important;}
.font-7{font-size: 7px !important;}
.font-8{font-size: 8px !important;}
.font-9{font-size: 9px !important;}
.font-11{font-size: 11px !important;}
.font-12{font-size: 12px !important;}
.font-13{font-size: 13px !important;}
.font-13-5{font-size: 13.5px !important;}
.font-14{font-size: 14x !important;}
.font-15{font-size: 15px !important;}
.font-16{font-size: 16px !important;}
.font-17{font-size: 17px !important;}
.font-18{font-size: 18px !important;}
.font-19{font-size: 19px !important;}
.font-20{font-size: 20px !important;}
.font-21{font-size: 21px !important;}
.font-22{font-size: 22px !important;}

.font-lg{font-size: 5rem !important;}
.font-md{font-size: 4rem !important;}
.font-sm{font-size: 3rem !important;}
.font-xs{font-size: 2rem !important;}

.text-upper{text-transform: uppercase;}
.uppercase{text-transform: uppercase;}