.dot-img {
    width: 20px !important;
    height: 20px !important;
    border-radius: 50%;
}

.circle-img {
    width: 80px !important;
    height: 80px !important;
    border-radius: 50%;
}

.circle-img-x {
    width: 120px !important;
    height: 120px !important;
    border-radius: 50%;
}

.circle-img-x2 {
    width: 150px !important;
    height: 150px !important;
    border-radius: 50%;
}