$theme-1: #075fe4;
$theme-2: #1b1f24;
$theme-3: #22282f;
$theme-4: #2d343f;

$theme-1a: #075fe4d9;
$theme-2a: #1b1f24d9;
$theme-3a: #22282fd9;
$theme-4a: #2d343fd9;

$theme-1b: #075fe499;
$theme-2b: #1b1f2499;
$theme-3b: #22282f99;
$theme-4b: #2d343f99;

$fb: #3b5998;
$facebook: #3b5998;
$in: #0e76a8;
$linkedin: #0e76a8;
$twit: #1DA1F2;
$twitter: #1DA1F2;
$insta: #bc2a8d;
$instagram: #bc2a8d;
$p: #E60023;
$pinterest: #E60023;
$y: #FF0000;
$youtube: #FF0000;

$black: #1a1b16;
$black-50: #1a1b16;
$fff: #f5f6fa;
$fff-50: #ffffff8a;
$grey: #393945;
$grey-50: #b2bec3;

$cream: #ecf0f1;